@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}

.spacex-container {
  padding-top: 56px;
}

.spacex-cardwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    margin: 10px;
  }
}

.payload-container {
  padding: 70px 10px 10px;
  font-size: 18px;
  color: #484848;
}
.launchpad-container {
  padding-top: 115px;
}

.payload-primary-title {
  font-size: 22px;
}

.payload-primary-subtitle {
  font-size: 20px;
}

.filter-wrapper {
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

.flter-button {
  text-transform: capitalize;
}

.home-container {
  width: 100%;
  height: 100vh;
}
.home-baner {
  width: 100%;
  height: 100%;
}
